:root {
  --DarkCyan: #00838f;
  --TurkishRose: #bc658d;
  --Gunmetal: #2c333a;
  --ViridianGreen: #009ba2;
  --Magnolia: #f4f3fe;
  --White: #ffffff;
  --Gray: #f4f4f4;
  --Nunito: "Nunito", sans-serif;
  --Montserat: "Montserrat", sans-serif;
  --overlay: rgba(44, 51, 58, 0.2);
  --shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.diversity_banner {
  margin-top: 150px;

  .frace {
    h1 {
      font-weight: 600;
      font-size: 45px;
      line-height: 50px;
      margin-bottom: 20px;
    }

    .rollin {
      margin-bottom: 5px;
    }
    .watch_snip {
      background-color: transparent;
      margin-top: 15px;
      &::before {
        content: url("../images/play_btn.svg");
        right: 10px;
        position: relative;
        top: 6px;
      }
    }
  }
}

.pic_grid {
  grid-auto-rows: 400px;
  img {
    object-fit: cover;
    border-radius: 10px;
  }
  .column {
    grid-column: span 2;
  }
  .row {
    grid-row: span 2;
  }
}

.bysterling {
  display: flex;
  margin-top: 50px;
  p {
    margin-right: 21px;
    margin-top: 11px;
  }
  img {
    width: 100px;
  }
}

.cyrac {
  background-color: var(--DarkCyan);
  border-radius: 5px;
  text-align: center;
  padding: 20px 40px;
  margin: 40px 0;
  h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
  h3,
  h2,
  p {
    color: var(--White);
  }
  .learning_box {
    color: var(--White);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 40px;
    margin-top: 80px;
    .numbers {
      margin-bottom: 20px;
      max-width: 170px;
      text-align: center;
      p {
        text-align: center;
        font-size: 48px;
        font-family: var(--Montserat);
        color: var(--Gunmetal);
        font-weight: 500;
        line-height: 110%;
        color: var(--White);
      }
      h3 {
        font-size: 16px;
        color: var(--White);
      }
    }
  }
}
.tech_overview {
  .purpose {
    margin-top: 80px;
    h2 {
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 30px;
    }
    p {
      max-width: 780px;
    }
  }
}
.participate {
  margin-top: 80px;
  h2 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 1px;
    line-height: 30px;
    margin-bottom: 40px;
  }
}

// DUMMY

.autocomplete-items {
  z-index: 99;
  // display: none;
  position: absolute;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow);
  background-color: var(--White);
  top: 50px;

  // -webkit-animation: uni_results 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  // animation: uni_results 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.autocomplete-items div {
  padding: 10px;
  font-family: var(--Nunito);
  cursor: pointer;
  z-index: 99;
  background-color: #fff;
  transition: 0.4s;
  border-bottom: 1px solid #d4d4d4;
  &:hover {
    background-color: var(--Magnolia);
  }
}
// I KEPT THIS HERE FOR A CAROUSEL===========
.owl-dots {
  margin-top: 20px;
  text-align: center;
}
.owl-dot {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  outline: 0;
  border-radius: 50%;
  background: rgba(51, 51, 51, 0.2) !important;
  cursor: pointer;
  transition: all 0.3s ease;
}
.owl-dot:hover,
.owl-dot.active {
  background: var(--DarkCyan) !important;
}
.owl-carousel .owl-item img {
  width: auto !important;
}
.owl-nav button {
  display: none;
}
.carousel_box {
  margin-top: 50px;
  .review_cards {
    background-color: var(--White);
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: 5px;
    margin: 3px;
    .when {
      display: flex;
      margin-top: 30px;
      img {
        margin-right: 10px;
      }
    }
  }

  span {
    margin: 0;
  }
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 15.36px;
    line-height: 28px;
    letter-spacing: 0.01em;
  }
  .stars {
    display: flex;
  }
  .card_pic {
    width: 60px;
    height: 60px;
  }
  .card_name {
    margin-left: 20px;
    h3 {
      font-style: normal;
      font-weight: 600;
      margin-top: 0;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
      letter-spacing: 0.02em;
    }
    .gold {
      path {
        fill: #ffc107;
      }
    }
    h4 {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 8px;
      letter-spacing: 0.02em;
    }
    img {
      width: 24px;
      height: 24px;
      margin-bottom: 15px;
    }
  }
}
.testimonial_box {
  position: relative;
  overflow: hidden;
  .p_reviews {
    h2 {
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 0px;
    }
  }
}
// IT ENDS HERE=============
.all_box {
  margin-top: 15px;
  max-width: 998px;
}

.p_box {
  margin-bottom: 40px;
  img {
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
.video_frame {
  margin: 10px auto;
  max-width: 900px;
  width: 100%;
  // background-color: var(--DarkCyan);
  iframe {
    min-height: 430px;
    width: 100%;
  }
}

.blog_links {
  margin-right: 0;
  button {
    margin-top: 0;
    width: 100%;
    padding: 0 25px;
  }
}
.vimeo_v {
  margin-top: 80px;

  .ip_btn {
    text-align: center;
    max-width: 165px;
    margin: 20px auto 40px auto !important;
  }
}
.play_video {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  top: 70px;
  .close_svg {
    width: 35px;
    margin-top: 50px;
    height: 35px;
    float: right;
    cursor: pointer;
  }
  .video_frame {
    margin: 100px auto;
  }
}
.img_4_banner {
  position: relative;
  margin-top: 120px;
  max-width: 1320px;
  img {
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  h5 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--DarkCyan);
    letter-spacing: 0.12em;
  }
}

.wrap_course {
  // position: relative;
}
.diversity_assessment {
  max-width: 875px;
  h4 {
    margin-top: 45px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }

  ul {
    margin-top: 45px;
    li {
      margin-bottom: 20px;
    }
  }
  p {
    margin-top: 30px;
  }
  h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-top: 50px;
  }
}
.diversity_data {
  margin-top: 80px;
  max-width: 650px;
  h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    text-transform: capitalize;
  }
  textarea {
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    min-height: 138px;
    // margin-bottom: 50px;
    padding: 15px;

    border: 1px solid rgba(44, 51, 58, 0.5);
  }
}
.educational_bg {
  h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  span {
    font-family: var(--Nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}

.submit_bt {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 275px;
}

.upload_img {
  border: 2px solid var(--DarkCyan);
  max-width: 270px;
  height: 45px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;

  label {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--DarkCyan);
  }
  input {
    display: none;
  }
}

@media (max-width: 480px) {
  .diversity_banner .frace h1 {
    font-size: 35px;
  }
  .blog_nav {
    flex-direction: row-reverse;
  }
  .burger {
    margin-right: 0;
  }
  .video_frame iframe {
    min-height: 300px;
  }
}
@media (max-width: 550px) {
  .pic_grid {
    .grid_pic {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (min-width: 767px) {
  .all_box {
    display: flex;
    justify-content: space-between;
    .p_box {
      width: 45%;
    }
  }
}
@media (min-width: 480px) {
  .diversity_banner .frace button {
    max-width: 200px;
    margin-right: 10px;
  }
}

@media (min-width: 990px) {
  .testimonial_box {
    padding-bottom: 215px;
  }
  .carousel_box {
    margin: 0;
  }
  .gin {
    top: 0;
    position: absolute !important;
    left: 40%;
  }
}

@media (max-width: 850px) {
  .pic_grid {
    margin-top: 50px;
  }
}
@media (min-width: 850px) {
  .diversity_banner {
    display: flex;
    justify-content: space-between;
    .frace {
      width: 45%;
    }
    .pic_grid {
      width: 45%;
    }
  }
}
