.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.btn--browse{
  border: 1px solid #ddd;
  border-radius: 5px 0px 0px 5px;
  background-color: var(--DarkSlateGray);
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: 0;
  color: var(--White);
  padding: 10px 14px;
}
.btn--browse span{
  color: var(--White);
  font-weight: 600;
  font-family: var(--Montserat);
  text-align: center;
}

.f-input{
background-color: white;
border: 1px solid #ddd;
border-radius: 5px 0px 0px 5px;
max-width: 60%;
float: left;
padding: 0 14px;
box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
}

@media(min-width: 768px){
  .f-input{
    max-width: 75%;
  }
}