.diversity_data.register {
    margin: 120px auto 50px auto;
}
@media(min-width: 1024px){
    .personal_data.register{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .personal_data.register .input_parent{
        width: 47%;
    }
    
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}