:root {
  --DarkCyan: #00838f;
  --TurkishRose: #bc658d;
  --Gunmetal: #2c333a;
  --ViridianGreen: #009ba2;
  --Magnolia: #f4f3fe;
  --White: #ffffff;
  --Gray: #f4f4f4;
  --Nunito: "Nunito", sans-serif;
  --Montserat: "Montserrat", sans-serif;
  --overlay: rgba(44, 51, 58, 0.2);
  --shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.diversity_banner {
  margin-top: 150px;
}

.diversity_banner .frace h1 {
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 20px;
}

.diversity_banner .frace .rollin {
  margin-bottom: 5px;
}

.diversity_banner .frace .watch_snip {
  background-color: transparent;
  margin-top: 15px;
}

.diversity_banner .frace .watch_snip::before {
  content: url("../images/play_btn.svg");
  right: 10px;
  position: relative;
  top: 6px;
}

.pic_grid {
  grid-auto-rows: 400px;
}

.pic_grid img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.pic_grid .column {
  grid-column: span 2;
}

.pic_grid .row {
  grid-row: span 2;
}

.bysterling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.bysterling p {
  margin-right: 21px;
  margin-top: 11px;
}

.bysterling img {
  width: 100px;
}

.cyrac {
  background-color: var(--DarkCyan);
  border-radius: 5px;
  text-align: center;
  padding: 20px 40px;
  margin: 40px 0;
}

.cyrac h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.cyrac h3,
.cyrac h2,
.cyrac p {
  color: var(--White);
}

.cyrac .learning_box {
  color: var(--White);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  margin-top: 80px;
}

.cyrac .learning_box .numbers {
  margin-bottom: 20px;
  max-width: 170px;
  text-align: center;
}

.cyrac .learning_box .numbers p {
  text-align: center;
  font-size: 48px;
  font-family: var(--Montserat);
  color: var(--Gunmetal);
  font-weight: 500;
  line-height: 110%;
  color: var(--White);
}

.cyrac .learning_box .numbers h3 {
  font-size: 16px;
  color: var(--White);
}

.tech_overview .purpose {
  margin-top: 80px;
}

.tech_overview .purpose h2 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
}

.tech_overview .purpose p {
  max-width: 780px;
}

.participate {
  margin-top: 80px;
}

.participate h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 1px;
  line-height: 30px;
  margin-bottom: 40px;
}

.autocomplete-items {
  z-index: 99;
  position: absolute;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  background-color: var(--White);
  top: 50px;
}

.autocomplete-items div {
  padding: 10px;
  font-family: var(--Nunito);
  cursor: pointer;
  z-index: 99;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: var(--Magnolia);
}

.owl-dots {
  margin-top: 20px;
  text-align: center;
}

.owl-dot {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  outline: 0;
  border-radius: 50%;
  background: rgba(51, 51, 51, 0.2) !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active {
  background: var(--DarkCyan) !important;
}

.owl-carousel .owl-item img {
  width: auto !important;
}

.owl-nav button {
  display: none;
}

.carousel_box {
  margin-top: 50px;
}

.carousel_box .review_cards {
  background-color: var(--White);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 20px;
  border-radius: 5px;
  margin: 3px;
}

.carousel_box .review_cards .when {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.carousel_box .review_cards .when img {
  margin-right: 10px;
}

.carousel_box span {
  margin: 0;
}

.carousel_box p {
  font-style: normal;
  font-weight: 600;
  font-size: 15.36px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.carousel_box .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel_box .card_pic {
  width: 60px;
  height: 60px;
}

.carousel_box .card_name {
  margin-left: 20px;
}

.carousel_box .card_name h3 {
  font-style: normal;
  font-weight: 600;
  margin-top: 0;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
  letter-spacing: 0.02em;
}

.carousel_box .card_name .gold path {
  fill: #ffc107;
}

.carousel_box .card_name h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}

.carousel_box .card_name img {
  width: 24px;
  height: 24px;
  margin-bottom: 15px;
}

.testimonial_box {
  position: relative;
  overflow: hidden;
}

.testimonial_box .p_reviews h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 0px;
}

.all_box {
  margin-top: 15px;
  max-width: 998px;
}

.p_box {
  margin-bottom: 40px;
}

.p_box img {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.p_box h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.video_frame {
  margin: 10px auto;
  max-width: 900px;
  width: 100%;
}

.video_frame iframe {
  min-height: 430px;
  width: 100%;
}

.blog_links {
  margin-right: 0;
}

.blog_links button {
  margin-top: 0;
  width: 100%;
  padding: 0 25px;
}

.vimeo_v {
  margin-top: 80px;
}

.vimeo_v .ip_btn {
  text-align: center;
  max-width: 165px;
  margin: 20px auto 40px auto !important;
}

.play_video {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  top: 70px;
}

.play_video .close_svg {
  width: 35px;
  margin-top: 50px;
  height: 35px;
  float: right;
  cursor: pointer;
}

.play_video .video_frame {
  margin: 100px auto;
}

.img_4_banner {
  position: relative;
  margin-top: 120px;
  max-width: 1320px;
}

.img_4_banner img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.img_4_banner h5 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--DarkCyan);
  letter-spacing: 0.12em;
}

.diversity_assessment {
  max-width: 875px;
}

.diversity_assessment h4 {
  margin-top: 45px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.diversity_assessment ul {
  margin-top: 45px;
}

.diversity_assessment ul li {
  margin-bottom: 20px;
}

.diversity_assessment p {
  margin-top: 30px;
}

.diversity_assessment h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 50px;
}

.diversity_data {
  margin-top: 80px;
  max-width: 650px;
}

.diversity_data h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.diversity_data textarea {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
  min-height: 138px;
  padding: 15px;
  border: 1px solid rgba(44, 51, 58, 0.5);
}

.educational_bg h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.educational_bg span {
  font-family: var(--Nunito);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.submit_bt {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 275px;
}

.upload_img {
  border: 2px solid var(--DarkCyan);
  max-width: 270px;
  height: 45px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.upload_img label {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--DarkCyan);
}

.upload_img input {
  display: none;
}

@media (max-width: 480px) {
  .diversity_banner .frace h1 {
    font-size: 35px;
  }
  .blog_nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .burger {
    margin-right: 0;
  }
  .video_frame iframe {
    min-height: 300px;
  }
}

@media (max-width: 550px) {
  .pic_grid .grid_pic {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 767px) {
  .all_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .all_box .p_box {
    width: 45%;
  }
}

@media (min-width: 480px) {
  .diversity_banner .frace button {
    max-width: 200px;
    margin-right: 10px;
  }
}

@media (min-width: 990px) {
  .testimonial_box {
    padding-bottom: 215px;
  }
  .carousel_box {
    margin: 0;
  }
  .gin {
    top: 0;
    position: absolute !important;
    left: 40%;
  }
}

@media (max-width: 850px) {
  .pic_grid {
    margin-top: 50px;
  }
}

@media (min-width: 850px) {
  .diversity_banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .diversity_banner .frace {
    width: 45%;
  }
  .diversity_banner .pic_grid {
    width: 45%;
  }
}
/*# sourceMappingURL=diversity.css.map */