* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --DarkCyan: #00838f;
  --TurkishRose: #bc658d;
  --Gunmetal: #2c333a;
  --ViridianGreen: #009ba2;
  --White: #ffffff;
  --Rhythm: #69779b;
  --CaribbeanGreen: #00c5a2;
  --OldLavender: #756c83;
  --AmericanPurple: #432160;
  --ChineseBlue: #415b90;
  --DarkSlateGray: #314a52;
  --MaximumRedPurple: #a03c78;
  --DarkLavender: #6f539b;
  --MetallicBlue: #3c5186;
  --TiffanyBlue: #0fabbc;
  --PoliceBlue: #394a6d;
  --Corn: #fbeb5b;
  --LimeGreen: #4be133;
  --OldRose: #394a6d;
  --Magnolia: #f4f3fe;
  --ChineseSilver: #cccccc;
  --LavenderGray: #c5c0db;
  --DeepGreen-CyanTurquoise: #206d62;
  --Nunito: "Nunito", sans-serif;
  --Montserat: "Montserrat", sans-serif;
  --shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
  --overlay: rgba(44, 51, 58, 0.2);
}

.DarkLavender {
  background-color: var(--DarkLavender);
}

.DeepGreen-CyanTurquoise {
  background-color: var(--DeepGreen-CyanTurquoise);
}

.LavenderGray {
  background-color: var(--LavenderGray);
}

.DarkSlateGray {
  background-color: var(--DarkSlateGray);
}

.ChineseBlue {
  background-color: var(--ChineseBlue);
}

.ChineseSilver {
  background-color: var(--ChineseSilver);
}

.Corn {
  background-color: var(--Corn);
}

.Magnolia {
  background-color: var(--Magnolia);
}

.OldRose {
  background-color: var(--OldRose);
}

.LimeGreen {
  background-color: var(--LimeGreen);
}

.PoliceBlue {
  background-color: var(--PoliceBlue);
}

.TiffanyBlue {
  background-color: var(--TiffanyBlue);
}

.MetallicBlue {
  background-color: var(--MetallicBlue);
}

.MaximumRedPurple {
  background-color: var(--MaximumRedPurple);
}

.DarkCyan {
  background-color: var(--DarkCyan);
}

.TurkishRose {
  background-color: var(--TurkishRose);
}

.Rhythm {
  background-color: var(--Rhythm);
}

.CaribbeanGreen {
  background-color: var(--CaribbeanGreen);
}

.AmericanPurple {
  background-color: var(--AmericanPurple);
}

.TurkishRose {
  background-color: var(--TurkishRose);
}

.Gunmetal {
  background-color: var(--Gunmetal);
}

.ViridianGreen {
  background-color: var(--ViridianGreen);
}

.Rhythm {
  background-color: var(--Rhythm);
}

.CaribbeanGreen {
  background-color: var(--CaribbeanGreen);
}

.OldLavender {
  background-color: var(--OldLavender);
}

.White {
  background-color: var(--White);
  color: var(--White);
}

.WhiteC {
  color: var(--White);
}

a {
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Montserat);
  color: var(--Gunmetal);
  font-weight: 500;
  line-height: 110%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 500;
  font-size: 43px;
  margin-bottom: 60px;
  line-height: 52px;
}

h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 48px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}

h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.op-5 {
  opacity: 50%;
}

.max_605 {
  max-width: 605px;
}

.max_700 {
  max-width: 700px;
}

hr {
  border: 0.5px solid rgba(44, 51, 58, 0.5);
  margin: 40px 0;
}

ul li {
  font-family: var(--Nunito);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--Gunmetal);
  margin: 8px 0;
  letter-spacing: 0em;
  text-align: left;
}

a,
label,
::-webkit-input-placeholder {
  font-family: var(--Montserat);
}

a,
label,
:-ms-input-placeholder {
  font-family: var(--Montserat);
}

a,
label,
::-ms-input-placeholder {
  font-family: var(--Montserat);
}

a,
label,
::placeholder {
  font-family: var(--Montserat);
}

ol {
  list-style: none;
  counter-reset: item;
}

ol li {
  counter-increment: item;
  margin-bottom: 5px;
  font-family: var(--Nunito);
}

ol li:before {
  margin-right: 16px;
  margin-top: 6px;
  content: counter(item);
  background: var(--Gunmetal);
  border-radius: 100%;
  color: white;
  font-weight: 700;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
}

.display_pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

p,
span,
li {
  font-family: var(--Nunito);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--Gunmetal);
  margin: 8px 0;
  letter-spacing: 0em;
  text-align: left;
}

img {
  width: 100%;
  max-width: 100%;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.b_location::before {
  content: url("../svgs/location.svg");
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
  margin-right: 8px;
}

.ct-series-a .ct-line {
  stroke: var(--Gunmetal) !important;
  stroke-width: 2px;
}

.ct-grids .ct-horizontal {
  stroke-width: 0px !important;
  stroke-dasharray: 5px;
}

.ct-series-a .ct-point {
  stroke-linecap: circle;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  stroke-width: 10px;
  stroke: var(--MaximumRedPurple) !important;
  cursor: pointer;
}

.ct-series-a .ct-point::before {
  content: "Hello";
  color: #009ba2;
}

.ct-series-a .ct-point:hover {
  stroke-width: 15px;
  stroke: var(--ChineseBlue) !important;
}

.b_phone::before {
  content: url("../svgs/phone.svg");
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.b_email::before {
  content: url("../svgs/mail.svg");
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.b_module::before {
  content: url("../svgs/mail.svg");
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-9 {
  margin-top: 90px;
}

.mt-10 {
  margin-top: 100px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-6 {
  margin-bottom: 60px;
}

.mb-7 {
  margin-bottom: 70px;
}

.mb-8 {
  margin-bottom: 80px;
}

.mb-9 {
  margin-bottom: 90px;
}

.mb-10 {
  margin-bottom: 100px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pt-6 {
  padding-top: 60px;
}

.pt-7 {
  padding-top: 70px;
}

.pt-8 {
  padding-top: 80px;
}

.pt-9 {
  padding-top: 90px;
}

.pt-10 {
  padding-top: 100px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pb-7 {
  padding-bottom: 70px;
}

.pb-8 {
  padding-bottom: 80px;
}

.pb-9 {
  padding-bottom: 90px;
}

.pb-10 {
  padding-bottom: 100px;
}

button {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 45px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

button:disabled {
  opacity: 0.5;
  background-color: unset;
  color: var(--ChineseSilver);
  border: 1px solid rgba(204, 204, 204, 0.4);
}

.icon {
  width: 24px;
  height: 24px;
}

.default-btn {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 45px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--ChineseSilver);
}

.important-btn {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 45px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--DarkCyan);
  color: var(--White);
}

.outlined-btn {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 45px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--White);
  color: var(--DarkCyan);
  border: 2px solid var(--DarkCyan);
}

.primary-btn {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 45px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--Gunmetal);
  color: var(--White);
}

.danger-btn {
  width: 100%;
  margin: 28px 0 10px 0;
  height: 45px;
  border-radius: 5px;
  border: 0;
  background-color: unset;
  font-family: var(--Montserat);
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background-color: #ea5f5e;
  color: var(--White);
}

nav {
  height: 80px;
  padding: 18px 0;
  background-color: var(--White);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
}

nav .navbar img {
  width: 177px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
}

.track {
  color: var(--DarkCyan);
  border-bottom: 3px solid var(--DarkCyan);
}

.hamburger {
  margin-top: 10px;
  margin-right: 20px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: var(--Gunmetal);
  margin: 5px;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  margin: 0;
  color: var(--DarkCyan);
}

ul.breadcrumb li + li:before {
  content: ".";
  font-size: 30px;
  padding: 0 10px;
  display: inline-block;
}

ul.breadcrumb li a {
  color: var(--ChineseSilver);
  text-decoration: none;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

ul.breadcrumb li a:hover {
  color: var(--ChineseSilver);
  text-decoration: underline;
}

#myProgress {
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  height: 8px;
  background-color: #f4f4f4;
}

#myProgress #myBar {
  width: 10%;
  border-radius: 4px;
  height: 8px;
  background-color: var(--DarkCyan);
}

.border-top {
  border-top: 1px solid var(--ChineseSilver);
  margin-bottom: 40px;
}

.c_p {
  cursor: pointer;
}

.tab {
  float: left;
}

.tab__group {
  position: relative;
  height: 340px;
}

.tab__group:after {
  content: "";
  display: block;
  clear: both;
}

.tab__label {
  display: inline-block;
  padding: 0 20px;
  margin-right: 5px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
  cursor: pointer;
  color: var(--DarkCyan);
  border-bottom: 3px solid var(--DarkCyan);
}

.tab__content {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  right: 0;
  background: #fff;
}

.tab__radio {
  display: none;
}

.tab__radio:not(:checked) ~ .tab__label {
  font-size: 16px;
  font-weight: 400;
  color: var(--Gunmetal);
  background: transparent;
  border-bottom: 0;
}

.tab__radio:not(:checked) ~ .tab__content {
  display: none;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
}

#overlay_ {
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}

.overlay .it_card {
  background-color: var(--White);
  padding: 20px;
  margin: 25px;
  top: 20%;
  position: absolute;
  max-width: 550px;
  width: 90%;
}

.overlay .it_card .it_top {
  height: 70px;
  background-color: var(--ChineseSilver);
  text-align: center;
  padding-top: 20px;
}

.overlay .it_card .it_top h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.overlay .it_card .it_content {
  padding: 20px;
}

.overlay .it_card .bbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay .it_card .bbtn button {
  width: 25%;
  margin-right: 45px;
}

.overlay .it_card .bbtn div {
  margin-top: 40px;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--Montserat);
}

table {
  border-collapse: collapse;
  font-family: var(--Nunito);
  margin: 25px 0;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

table thead tr {
  background-color: var(--LavenderGray);
  text-align: left;
  border: 1px solid rgba(44, 51, 58, 0.1);
  color: var(--Gunmetal);
  font-weight: 500;
  border-radius: 5px 5px 0px 0px;
}

table thead tr:nth-of-type(1) {
  background-color: #f3f3f3;
}

table tbody tr {
  border: 1px solid rgba(44, 51, 58, 0.1);
  font-size: 15px;
  font-weight: 500;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

table th,
table td {
  padding: 18px;
}

.pagination {
  display: inline-block;
  width: 100%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.pagination a {
  color: black;
  float: left;
  font-weight: 600;
  padding: 8px 16px;
  margin: 0 5px;
  text-decoration: none;
}

.pagination a:hover {
  color: var(--DarkCyan);
}

.testimonial_box {
  margin-top: 70px;
  margin-bottom: 40px;
}

.testimonial_box .p_reviews {
  max-width: 410px;
}

.testimonial_box .p_reviews h4 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.testimonial_box .t_avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.testimonial_box .t_avatars .avatars__image {
  -webkit-box-shadow: 0 0 0 4px #fff;
          box-shadow: 0 0 0 4px #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 9999px;
}

.testimonial_box .t_avatars .avatars__image p {
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
}

.testimonial_box .t_avatars .avatars__image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--White);
}

.testimonial_box .t_avatars .avatars__image .lap_2 {
  position: relative;
  left: -8px;
}

.testimonial_box .t_avatars .avatars__image .lap_3 {
  position: relative;
  left: -16px;
}

.testimonial_box .t_avatars .avatars__image .lap_4 {
  position: relative;
  left: -24px;
}

.testimonial_box .t_avatars .avatars__image .lap_5 {
  position: relative;
  left: -32px;
}

.testimonial_box .t_avatars .avatars__image .lap_6 {
  position: relative;
  left: -40px;
}

.testimonial_box .t_avatars .avatars__image .lap_7 {
  position: relative;
  left: -48px;
}

.uni_results {
  z-index: 10;
  display: none;
  position: absolute;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  background-color: var(--White);
  top: 0;
  -webkit-animation: uni_results 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: uni_results 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.uni_results ul {
  margin-bottom: 20px;
}

.uni_results ul li {
  padding: 10px;
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.uni_results ul li:hover {
  background-color: var(--Magnolia);
}

.show .uni_results {
  display: block;
}

@-webkit-keyframes uni_results {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

@keyframes uni_results {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

.pagination a.active {
  border-bottom: 3px solid var(--DarkCyan);
  font-weight: 600;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.top_tool::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--ChineseSilver);
  display: inline-block;
  position: absolute;
  top: -12px;
  left: 90%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bottom_tool::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--ChineseSilver);
  display: inline-block;
  position: absolute;
  bottom: -12px;
  left: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.right_tool::before {
  content: "";
  width: 24px;
  height: 24px;
  background-color: var(--ChineseSilver);
  display: inline-block;
  position: absolute;
  right: -12px;
  top: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tools_tip {
  background-color: var(--ChineseSilver);
  padding: 16px;
  border-radius: 5px;
  margin: 30px 0;
  position: relative;
}

.tools_tip p {
  margin: 0;
}

pre {
  background-color: #f3f3f3;
  font-size: 18px;
  padding: 20px;
  max-height: 450px;
  overflow: scroll;
}

.input_parent {
  margin: 25px 0;
  height: 50px;
  font-style: var(--Montserat);
  position: relative;
  background-color: transparent;
}

.input_parent label {
  position: absolute;
  left: 15px;
  z-index: -2;
  top: 15px;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

input {
  width: 100%;
  font-style: var(--Montserat);
  padding: 15px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  height: 50px;
  font-size: 15px;
  outline: 0;
  /* background-color: transparent; */
  background-color: var(--White) !important;
}

.radio {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
}

.radio p {
  opacity: 50%;
  margin-top: 0;
  margin-left: 40px;
}

.radio input {
  display: none;
}

.radio input:disabled {
  display: none;
}

.radio input + span {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

.radio input + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #00838f;
}

.radio input + span::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #00838f;
  position: absolute;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.radio input + h3 {
  display: block;
  position: relative;
  padding-top: 23px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 5px;
}

.radio input + h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #00838f;
}

.radio input + h3::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #00838f;
  position: absolute;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.radio input:checked + span::after,
.radio input:checked + h3::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.radio_disabled {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
}

.radio_disabled input:disabled {
  display: none;
}

.radio_disabled input:disabled + span {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-top: 10px;
}

.radio_disabled input:disabled + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-color: #f4f3fe;
}

.radio_disabled input:disabled + span::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #c5c0db;
  position: absolute;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition: all 0.3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.check_parent .checkbox {
  display: block;
  font-family: var(--Nunito);
  position: relative;
  padding-left: 40px;
  padding-top: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 16px;
  font-weight: 400;
  -webkit-user-select: none;
  border-radius: 5px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check_parent .checkbox p {
  opacity: 50%;
}

.check_parent .checkbox input {
  position: absolute;
  width: auto;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  border-radius: 5px;
  cursor: pointer;
}

.check_parent .checkbox input:checked ~ .checkmark {
  background-color: var(--DarkCyan);
}

.check_parent .checkbox input:checked ~ .checkmark:after {
  display: block;
}

.check_parent .checkbox input:disabled ~ .checkmark {
  background-color: var(--ChineseSilver);
}

.check_parent .checkbox .checkmark {
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 0;
  border-radius: 5px;
  height: 25px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  width: 25px;
  background-color: #f4f3fe;
}

.check_parent .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:focus ~ label {
  top: -15px;
  color: #00838f;
  background-color: white;
  padding: 5px;
  font-size: 14px;
  z-index: 2;
}

input:focus {
  background-color: transparent;
  z-index: 2;
  height: 50px;
  border-radius: 5px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

input:valid {
  background-color: #ffffff;
}

.custom-select {
  position: relative;
  font-family: Arial;
  border: 1px solid var(--Gunmetal);
  border-radius: 5px;
  min-width: 130px;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: transparent;
  border: 1px solid rgba(44, 51, 58, 0.7);
  border-radius: 5px;
  font-family: var(--Montserat);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--Gunmetal) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--Gunmetal) transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: var(--Gunmetal);
  padding: 8px 16px;
  border: 1px solid var(--Gunmetal);
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--Magnolia);
  top: 100%;
  left: 0;
  right: 0;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.search_parent {
  position: relative;
}

.search_parent input {
  padding: 15px 20px 15px 48px;
}

.search_parent img {
  width: 20px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 16px;
}

.password_parent {
  border-radius: 5px;
  height: 50px;
  width: 100%;
  position: relative;
  background-color: transparent;
  margin: 20px 0 10px 0;
}

.password_parent input {
  width: 100%;
  padding: 15px;
  border: 0;
  outline: 0;
  border: 1px solid var(--ChineseSilver);
  background-color: transparent;
}

.password_parent input:focus ~ label {
  top: -12px;
  color: var(--DarkCyan);
  z-index: 2;
}

.password_parent input:focus {
  background-color: var(--ChineseSilver);
  border: 1px solid var(--DarkCyan);
  z-index: 2;
}

.password_parent input:focus::-webkit-input-placeholder {
  color: transparent;
}

.password_parent input:focus:-ms-input-placeholder {
  color: transparent;
}

.password_parent input:focus::-ms-input-placeholder {
  color: transparent;
}

.password_parent input:focus::placeholder {
  color: transparent;
}

.password_parent input:valid {
  background-color: var(--White);
}

.password_parent span {
  margin: 5px 0;
  color: red;
  opacity: 0;
}

.password_parent .tribute {
  position: absolute;
  right: 30px;
  top: 13px;
}

.password_parent.active input {
  border: 1px solid red;
}

.password_parent.active input:focus ~ label {
  top: -12px;
  color: red;
  z-index: 2;
}

.password_parent.active span {
  opacity: 1;
}

.password_parent label {
  position: absolute;
  left: 15px;
  z-index: -2;
  top: 15px;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

#hide {
  display: none;
}

.form_x h3 {
  margin-bottom: 30px;
}

.form_x h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  margin: 20px 0 0 0;
  text-align: left;
}

.switch_parent .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch_parent .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_parent .switch input:checked + .slider {
  background-color: var(--DarkCyan);
}

.switch_parent .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--DarkCyan);
          box-shadow: 0 0 1px var(--DarkCyan);
}

.switch_parent .switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
}

.switch_parent .switch input:disabled + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
  opacity: 50%;
}

.switch_parent .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 24px;
  border-radius: 50px;
  background: rgba(204, 204, 204, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch_parent .switch .slider:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch_parent .switch .slider p {
  margin: 0 0 0 60px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}

:root {
  --DarkCyan: #00838f;
  --TurkishRose: #bc658d;
  --Gunmetal: #2c333a;
  --ViridianGreen: #009ba2;
  --Magnolia: #f4f3fe;
  --White: #ffffff;
  --Nunito: "Nunito", sans-serif;
  --Montserat: "Montserrat", sans-serif;
  --overlay: rgba(44, 51, 58, 0.2);
  --shadow: 0px -2px 8px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.section {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.body {
  background-color: #fdfdfd;
}

.aside {
  width: 20%;
  height: 100vh;
  background-color: var(--White);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 25px 24px;
  z-index: 10;
}

.aside a img {
  width: 165px;
  margin-bottom: 100px;
  margin-right: 10px;
}

.aside .list .p_list {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
}

.aside .list .p_list svg path {
  fill: var(--Gunmetal);
}

.aside .list .p_list a {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  top: -6px;
  font-family: var(--Nunito);
  color: var(--Gunmetal);
}

.aside .list .current {
  background-color: var(--DarkCyan);
  color: var(--White);
}

.aside .list .current a {
  color: var(--White);
}

.aside .list .current svg path {
  fill: var(--White);
}

.main {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
}

.main .nav {
  background-color: var(--White);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  z-index: 5;
}

.main .nav .navigation {
  width: 100%;
  padding: 22px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .nav .navigation .search {
  width: 280px;
  margin-right: auto;
}

.main .nav .navigation .bell_avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12%;
  position: absolute;
  right: 0;
}

.main .nav .navigation .bell_avatar .icon {
  margin-top: 7px;
  margin-right: auto;
  width: 30px;
  height: 30px;
}

.main .nav .navigation .bell_avatar .bell {
  width: 27px;
  margin-top: 10px;
  height: 27px;
  margin-right: auto;
}

.main .nav .navigation .bell_avatar .avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid var(--White);
}

.contain {
  max-width: 1177px;
  padding: 0 20px;
  margin: 0 auto;
}

.major {
  margin-top: 135px;
}

.major .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.major .overview .custom-select {
  width: 150px;
}

.major .overview h3 {
  margin: 0 auto 0 0;
  font-weight: 600;
}

.major .overview select {
  margin: 0;
}

.major .view {
  display: -webkit-box;
  padding: 15px 0;
  overflow-x: scroll;
}

.major .view .each_view {
  background-color: var(--White);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  margin: 0 8px;
  max-width: 250px;
  min-height: 120px;
}

.major .view .each_view .snip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.major .view .each_view .snip img {
  width: 40px;
  margin-right: auto;
  margin-bottom: 20px;
  height: 40px;
}

.major .view .each_view .snip h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.major .view .each_view p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.target .each_target {
  background-color: var(--White);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 25px;
  border-radius: 5px;
  width: 100%;
  margin: 0 8px;
  max-width: 370px;
  min-height: 120px;
}

.target .each_target .snip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.target .each_target .snip .snip_txt {
  margin-top: 17px;
}

.target .each_target .snip .snip_txt h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
}

.chart_list .chart {
  min-height: 400px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 20px;
  z-index: 0;
  border-radius: 5px;
}

.chart_list .chart .spin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.chart_list .chart .spin h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.chart_list .chart .spin select {
  margin-top: 0;
}

.chart_list .top_people {
  padding: 16px;
  background-color: var(--White);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 5px;
  min-height: 400px;
}

.chart_list .top_people h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: 9px;
  margin-bottom: 20px;
}

.chart_list .top_people .people_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.chart_list .top_people .people_block .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chart_list .top_people .people_block .score img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 5px;
}

.chart_list .top_people .people_block .score h4 {
  margin-right: auto;
}

.chart_list .top_people .people_block h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

@-webkit-keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --fg: var(--DarkCyan);
  --bg: var(--Magnolia);
  --pgPercentage: var(--value);
  -webkit-animation: growProgressBar 3s 1 forwards;
          animation: growProgressBar 3s 1 forwards;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: var(--Montserat);
  color: var(--Gunmetal);
  font-weight: 600;
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}

.d_select .custom-select {
  width: 100%;
  font-size: 16px;
  opacity: 0.6;
  margin-top: 15px;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 17px;
}

.e_course .per_course {
  background-color: var(--White);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 5px;
  margin-bottom: 25px;
}

.e_course .per_course .pic_scale {
  overflow: hidden;
  max-height: 150px;
}

.e_course .per_course .pic_scale img {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border-radius: 5px 5px 0px 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.e_course .per_course .desc {
  padding: 16px;
}

.e_course .per_course .desc h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  max-height: 83px;
  margin-bottom: 8px;
  overflow: hidden;
  text-align: left;
}

.e_course .per_course .desc .instructor {
  font-family: Nunito;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.e_course .per_course .desc .instructor::before {
  content: "Instructor";
  margin-right: 10px;
  font-weight: 700;
}

.e_course .per_course .desc .enr span {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.e_course .per_course .desc button {
  border: 1px solid var(--DarkCyan);
  background-color: transparent;
  color: var(--DarkCyan);
  margin-top: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.e_course .per_course .desc button:hover {
  background-color: var(--DarkCyan);
  color: var(--White);
}

.e_course .per_course .enr {
  font-weight: 600;
  font-size: 16px;
}

.e_course .per_course:hover .pic_scale img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0px 7px 64px rgba(0, 0, 0, 0.07));
          filter: drop-shadow(0px 7px 64px rgba(0, 0, 0, 0.07));
  border-radius: 5px 5px 0px 0px;
}

.d_img {
  height: 250px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 40px 0;
}

.t_dts .dts h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}

.t_dts .dts .by_who {
  font-weight: 500;
}

.t_dts .dts .by_who img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.t_dts .dts .by_who a {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  position: relative;
  top: -15px;
}

.t_dts .dts .by_who a span {
  text-decoration: underline;
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
}

.t_dts .dts h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  margin-top: 16px;
}

.t_dts .dts h6 span {
  margin-right: 5px;
}

.t_dts .dts h6::before {
  content: url("../svgs/users.svg");
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.accordion {
  width: 100%;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border: 1px solid var(--Magnolia);
  margin: 40px 0;
}

.accordion h3 {
  background-color: var(--Magnolia);
  margin: 0;
  text-align: center;
  padding: 20px;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.accordion input {
  display: none;
}

.acc_label,
.acc_content {
  padding: 14px 20px;
}

.acc_label {
  display: block;
  color: var(--Gunmetal);
  font-weight: 500;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: var(--White);
  border: 1px solid var(--Magnolia);
}

.acc_label::after {
  content: "+";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  font-size: 20px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.acc_label:hover {
  background-color: #009ba2;
  color: var(--White);
}

.acc_content {
  background-color: #fff;
  font-weight: 0.85em;
  line-height: 1.6;
  display: none;
}

.acc_input:checked ~ .acc_content {
  display: block;
}

.acc_input:checked ~ .acc_label::after {
  content: "-";
  -webkit-transform: translateY(-50%) rotate(0.5turn);
          transform: translateY(-50%) rotate(0.5turn);
}

.desktop_accordion {
  display: none;
}

.reviews hr {
  margin: 20px 0;
  border: 1px solid #ddd;
}

.reviews .per_review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.reviews .per_review img {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
}

.reviews .per_review .f_review {
  margin-left: 60px;
}

.reviews .per_review .f_review h5 {
  margin-bottom: 10px;
}

.overflow_auto {
  overflow-x: auto;
}

.e_table table th,
.e_table table td {
  min-width: 250px;
}

.ava_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.ava_name img {
  width: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  top: -13px;
}

.ava_name h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  margin-left: 60px;
}

.activate_d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activate_d button {
  margin: 0;
}

.deactivate {
  right: 60px;
  position: absolute;
  top: -1px;
}

.card_ {
  padding: 0 20px;
}

.close_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.close_button img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile h3 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.plan {
  margin-top: 30px;
}

.plan .plan_note {
  margin-bottom: 40px;
}

.plan .plan_note h5 {
  margin-bottom: 0;
}

.plan .p_plan .enterprise_plan {
  background-color: var(--White);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgba(44, 51, 58, 0.2);
  padding: 24px;
  margin: 20px 0;
}

.plan .p_plan .active_plan {
  background-color: var(--DarkCyan);
}

.plan .p_plan .active_plan h4,
.plan .p_plan .active_plan p,
.plan .p_plan .active_plan span {
  color: var(--White);
}

.e_table table th,
.e_table table td {
  min-width: 190px;
}

.e_table table th:nth-child(1),
.e_table table td:nth-child(1) {
  min-width: 50px;
}

.e_table table th:nth-child(5),
.e_table table td:nth-child(5) {
  min-width: 170px;
}

.e_table table th:nth-child(6),
.e_table table td:nth-child(6) {
  min-width: 250px;
}

.download_now a {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  color: var(--DarkCyan);
}

.download_now a::before {
  content: url("../svgs/download.svg");
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.mail_from_us h5 {
  margin-bottom: 10px;
}

.notNormal h5 {
  position: relative;
  top: -18px;
}

.notNormal p {
  position: relative;
  top: -27px;
}

.int_plate .p_media {
  border: 1px solid rgba(44, 51, 58, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.int_plate .p_media img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.int_plate .p_media h5 {
  margin-bottom: 5px;
}

.int_plate .p_media .prt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.parent_int {
  margin-top: 40px;
  min-height: 160px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.parent_int img {
  border-radius: 5px 5px 0 0;
  height: 160px;
  min-width: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.parent_int .int_txt {
  padding: 20px;
}

.wrap_name p a {
  font-weight: 600;
  text-decoration: underline;
}

.company_name {
  border: 1px solid rgba(44, 51, 58, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px;
  -webkit-filter: drop-shadow(0px 7px 64px rgba(0, 0, 0, 0.07));
          filter: drop-shadow(0px 7px 64px rgba(0, 0, 0, 0.07));
  border-radius: 5px;
  position: relative;
  margin-top: 50px;
  height: 55px;
}

.company_name .name_shade {
  margin: 0;
  opacity: 50%;
}

.company_name .name_shade::after {
  content: url("../svgs/locked.svg");
  position: absolute;
  right: 17px;
  opacity: 100%;
}

.c_link {
  background-color: #f3f3f3;
  height: 53px;
  padding: 13px;
}

.c_link span {
  background-color: var(--White);
  height: 53px;
  padding: 13px;
}

.p-0 {
  padding: 0;
}

.company_logo .logo {
  position: relative;
  height: 80px;
  margin-bottom: 80px;
}

.company_logo .logo img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.company_logo .logo .you_verify {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -43px;
  left: 55px;
}

.company_logo .drag_in {
  background-color: var(--Magnolia);
  border-radius: 5px;
  text-align: center;
  padding: 40px;
  margin-top: 30px;
  border: 2px dashed rgba(44, 51, 58, 0.4);
}

.company_logo .drag_in img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.company_logo .drag_in input {
  display: none;
}

.company_logo .drag_in label {
  margin-top: 30px;
  font-size: 16px;
  color: var(--DarkCyan);
}

.v_m {
  opacity: 50%;
  margin-top: 11px;
}

.v_m:hover {
  text-decoration: underline;
}

.company_bio h5 {
  margin: 0;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
  outline: 0;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(44, 51, 58, 0.5);
}

.delete_acc {
  margin-bottom: 40px;
}

.delete_acc h4 {
  color: #ea5f5e;
}

.delete_acc button {
  color: #ea5f5e;
  border: 1px solid rgba(44, 51, 58, 0.5);
  max-width: 200px;
}

.disclaim {
  background-color: #f4f4f4;
  padding: 25px;
}

.disclaim h4 {
  font-size: 16px;
  font-weight: 600;
}

.warning_note {
  padding: 10px 25px;
  background: rgba(234, 95, 94, 0.2);
  border: 0.92px solid rgba(234, 95, 94, 0.4);
}

.warning_note p::before {
  width: 24px;
  height: 24px;
  content: url("../svgs/warning.svg");
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.txt_notice {
  padding: 25px;
}

#d-0 {
  display: none;
}

.search_icon {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 18px;
}

.teams {
  border: 1px solid rgba(44, 51, 58, 0.2);
  background-color: var(--White);
  border-radius: 5px;
  margin-bottom: 30px;
  max-width: 650px;
}

.teams .teaM_n {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px 5px 0 0;
  background: #f4f4f4;
  font-family: var(--Montserat);
  border-radius: 0;
}

.teams .empty_state .empty {
  text-align: center;
  padding: 20px;
}

.teams .empty_state .empty .transit {
  width: 110px;
  height: 110px;
}

.teams .empty_state .empty p {
  text-align: center;
}

.teams .empty_state .empty button {
  position: static;
  max-width: 100%;
}

.add_this {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.add_this .password_parent {
  width: 75%;
  margin: 0;
}

.add_this .trig_team {
  margin: 0;
  width: 23%;
  height: 50px;
}

.p_person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid var(--Magnolia);
  background: var(--Magnolia);
  margin-bottom: 10px;
}

.p_person .txt_h6 {
  font-size: 16px;
  margin-top: 3px;
  background: var(--Magnolia);
  border: 0;
  padding: 0;
  font-family: var(--Montserat);
  height: 40px;
  padding: 7px;
}

.delete_img {
  margin-top: 10px;
  padding-right: 5px;
  cursor: pointer;
}

.team_list {
  min-height: 200px;
}

.team_list .content {
  font-size: 16px;
  text-align: left;
  font-family: var(--Nunito);
  background-color: var(--White);
}

.each_staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.each_staff:hover {
  background-color: var(--Magnolia);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.each_staff img {
  margin-right: 20px;
}

.each_staff h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}

.each_staff .ptz {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
}

.each_staff .rank {
  margin-right: auto;
}

.mini_h {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}

.top_scores {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 30px 16px 16px;
  border-radius: 5px;
}

.winner::before {
  content: url("../svgs/winner.svg");
  margin-right: 15px;
  margin-top: 3px;
}

.top-guys::before {
  content: url("../svgs/top_guys.svg");
  margin-right: 15px;
  margin-top: 3px;
}

.gold path {
  fill: #fbeb5b;
}

.staff_scoreboard h5 {
  font-weight: 500;
}

.staff_scoreboard h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: 688px) {
  .ppr button {
    max-width: 214px;
    position: absolute;
    right: 0px;
    top: 0;
  }
  .prime_50 {
    width: 60%;
  }
  .p_person {
    width: 48%;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .d_select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .d_select #all_tracks {
    width: 25%;
  }
  .d_select #sort_by {
    width: 18%;
  }
  .from_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .from_us .mail_from_us {
    width: 35%;
  }
  .from_us .mail_check {
    width: 50%;
    margin-top: 20px;
  }
  .overall_apron {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .overall_apron .apron {
    width: 60%;
  }
  .overall_apron .apron .mobile_accordion {
    display: none;
  }
  .overall_apron .accordion {
    width: 30%;
  }
  .overall_apron .desktop_accordion {
    display: block;
  }
  .e_course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .e_course .per_course {
    width: 48.5%;
  }
  .t_dts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .t_dts .dts {
    max-width: 540px;
  }
  .t_dts button {
    width: 179px;
    margin: 0;
  }
  .int_plate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .int_plate .p_media {
    width: 48%;
  }
  .parent_int {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .parent_int img {
    width: 30%;
    height: auto;
    border-radius: 5px 0px 0 5px;
  }
  .parent_int .outlined-btn {
    width: 30%;
    margin: 0 20px 0 0;
  }
  .parent_int .important-btn {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .int_plate .p_media {
    width: 32%;
  }
}

.check_parent .checkbox .checkmark {
  top: -15px;
  border: 0.2px solid var(--DarkCyan);
}

@media (min-width: 768px) {
  .contain {
    padding: 0 40px;
  }
  .plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .plan .plan_note {
    width: 25%;
  }
  .plan .p_plan {
    width: 70%;
  }
  .wrap_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrap_name .company_name {
    width: 45%;
    margin-right: 15px;
  }
  .wrap_name p {
    margin-top: 45px;
  }
  .scoreboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .scoreboard .w_40 {
    width: 47.5%;
    height: 480px;
  }
  .scoreboard .w_60 {
    width: 50%;
    margin: 0;
    margin-bottom: 50px;
  }
}

@media (min-width: 1224px) {
  .contain {
    padding: 0 60px;
  }
}

@media (min-width: 1024px) {
  .contain {
    padding: 0 30px;
  }
  .maximize {
    max-width: 700px;
  }
  .cards_ {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px;
  }
  .cards_ .it_card {
    top: 18%;
    width: 90%;
    left: 16%;
  }
  .hamburger {
    display: none;
  }
  #section .aside {
    position: fixed;
  }
  .chart {
    width: 67%;
  }
  .chart_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chart_list .top_people {
    width: 31%;
  }
  .chart_list .top_people .people_block {
    display: block;
  }
  .chart_list .top_people .people_block h4 {
    line-height: 50px;
    font-size: 16px;
  }
  .chart_list .top_people .people_block .score .mark {
    display: none;
  }
  .chart_list .top_people .people_block .score img {
    margin-top: 15px;
  }
  .chart_list .top_people .people_block .mark2 {
    margin-left: 60px;
    margin-top: -16px;
  }
  .e_course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .e_course .per_course {
    width: 32.5%;
  }
}

@media (max-width: 1023px) {
  #section .aside {
    position: fixed;
    max-width: 250px;
    width: 100%;
    -webkit-transform: translateX(-768px);
            transform: translateX(-768px);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .c_link span {
    display: none;
  }
  .d_none {
    display: none;
  }
  .main .nav {
    width: 100%;
  }
  .main .nav .navigation .bell_avatar {
    width: 15%;
  }
  .lay {
    background-color: var(--overlay);
    height: 100vh;
    width: 100%;
    z-index: 6;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
  }
  #section .aside.actie {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .main {
    width: 100%;
  }
  .chart_list .top_people {
    margin-top: 40px;
    padding: 40px;
  }
  .chart_list .top_people .people_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chart_list .top_people .people_block h6 {
    margin-top: 15px;
    margin-left: 15px;
  }
  .chart_list .top_people .people_block img {
    margin: 0 30px 0 0;
  }
  .chart_list .top_people .people_block .score h4 {
    margin-top: 7px;
  }
  .chart_list .top_people .people_block .score .mark {
    display: none;
  }
}

@media (min-width: 540px) {
  .employee {
    position: relative;
  }
  .employee button {
    max-width: 214px;
    position: absolute;
    right: 0px;
    top: 0;
  }
  .company_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 690px;
  }
  .company_logo .drag_in {
    width: 70%;
  }
  .main .nav .navigation .bell_avatar .icon {
    display: none;
  }
  .dont_show_on_desktop {
    display: none;
  }
}

@media (max-width: 462px) {
  .dont_show_on_462 {
    display: none;
  }
}

@media (max-width: 540px) {
  .main .nav .navigation .bell_avatar {
    width: 47%;
  }
  .chart_list .chart .spin h3 {
    font-size: 16px;
  }
  .each_staff img {
    margin-right: 10px;
  }
  .mini_h {
    margin-left: 10px;
  }
  .top_scores {
    padding: 30px 10px 10px;
  }
  .overlay .it_card .it_content {
    padding: 0;
  }
  .chart_list .top_people {
    padding: 20px;
  }
  .chart_list .top_people h4 {
    font-size: 16px;
  }
  .dont_show_on_dsk {
    display: none;
  }
  .chart_list .top_people .people_block .score img {
    margin-top: 5px;
  }
  .hamburger {
    margin-right: auto;
    margin-top: 0;
  }
  .main .nav .navigation .bell_avatar .bell,
  .main .nav .navigation .bell_avatar .icon {
    margin-top: 0;
  }
  .main .nav .navigation .bell_avatar .avatar {
    position: relative;
    top: -9px;
  }
  .search {
    width: 540px;
    position: absolute;
    z-index: 99;
    top: 10px;
    -webkit-clip-path: circle(0px at 90% -10%);
            clip-path: circle(0px at 90% -10%);
    -webkit-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;
    pointer-events: none;
  }
  .search input {
    border: 0;
    width: 500px;
    z-index: 9;
    left: 0;
  }
  .search_page {
    display: none;
  }
  .back_to_page {
    left: 10px;
  }
}

.search.active {
  -webkit-clip-path: circle(1000px at 90% -10%);
          clip-path: circle(1000px at 90% -10%);
  pointer-events: all;
}
/*# sourceMappingURL=style.css.map */